@import 'vars';
@import 'text';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: rgba(220, 220, 220, 1);
}

body {
  font-size: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: $text-width;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
  margin: $padding auto;
}

#mainHeader, #mainFooter, #nav, #page, div.page {
  width: 100%;
}

#mainHeader {
  order: 1;
}

#nav {
  order: 2;
}

#page {
  order: 3;
}

#mainFooter {
  order: 4;
}

.pagePrincipale {
  figure {
    width: 100%;
    h3 {text-align: center;}
    a {
      img {
        width: 100%;
        height: Auto;
      }
    }
  }
}

@import 'nav';
@import 'header';
@import 'footer';
