#mainHeader {

  display: flex;
  align-items: center;
  flex-flow: column;

  background-image: url(../images/banniere.jpg);
  background-size: cover;

  padding: 0;
  height: 270px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
