#mainHeader {

  display: flex;
  align-items: center;
  flex-flow: column;

  background-image: url(../images/banniere.jpg);
  background-size: cover;

  padding: $padding;
  min-height: 10em;

  h1 {
    font-size: 1em;
    font-weight: $bold;
    color: $color-text;
    text-align: center;
  }
}
