$color-text: rgba(118, 127, 136, 1);
$color-text-footer: $color-text;
$color-main: rgba(152, 191, 72, 1);
$color-secondary: rgba(241, 153, 0, 1);
$color-tertiary: rgba(247, 245, 245, 1);

$bold: 700;
$semiBold: 600;

$text-width: 51em;
$padding: 2em;
